.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto; /* centraliza na tela */
    flex-wrap: wrap;
}

@media screen and (max-width:319px)  {
    .container {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 320px) and (max-width:768px) {
    .container {
        justify-content:space-between;
    }
}
