*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #fff;
}


.navigation a{
    color: #4b4b4b;
    text-decoration: none;
    font-weight: 400;
    margin-left: 40px;
}

.wrapperMain{
    height: 100%;
    background: #D8E6F2;
    padding-top: 50px;
    padding-bottom: 150px;
}

.wrapperCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerRight{
    width: 600px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    margin-right: 30px;
    overflow: hidden;
    border-radius: 10px;
}

.imageGradient{
    position: relative;
    display: inline-block;
}

.textInGradient{
    position: absolute;
    display: flex;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.darkGradient{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7200000286102295;
    background: linear-gradient(189deg, rgba(20, 20, 20, 0.00) 0%, #141414 100%);
}

.baseboard{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baseboard h6{
    color: #ED2590;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

@media (min-width: 1680px) and (max-width: 1920px){
    .wrapperCards{
        padding-bottom: 12.5%;
    }
}

@media (min-width: 1440px) and (max-width: 1680px){
    .wrapperCards{
        padding-bottom: 14%;
    }
}

@media (min-width: 1200px) and (max-width: 1440px){
    .wrapperCards{
        padding-bottom: 14%;
    }
}

@media (min-width: 1025px) and (max-width: 1200px){
    .wrapperCards{
        padding-bottom: 16%;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .wrapperCards{
        padding-bottom: 16%;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .header{
        justify-content: center;
    }
    .navigation a{
        display: none;
    }

    .wrapperCards{
        padding-bottom: 16%;
    }
}

@media (min-width: 320px) and (max-width: 480px){
    .header{
        justify-content: center;
    }
    .navigation a{
        display: none;
    }

    .wrapperCards{
        padding-bottom: 25%;
    }
}

@media (max-width: 319px){
    .header{
        justify-content: center;
    }
    .navigation a{
        display: none;
    }

    .wrapperCards{
        padding-bottom: 30%;
    }
}

