*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #Ed2590;
    margin-top: 2em;
    text-align: center;
}

.formParagraph{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #D8E6F2;
    padding-top: 5%;
}

.wrapperFormFull{
    width: 600px;
    height:700px;
    display: flex;
    justify-content: space-evenly;
    background: #FDFEFF;
    border-radius: 16px;
    margin-bottom: 8em;
    transform: translateY(5%);
}

.divImg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-top: 1.5em;
    border-radius: 100%;
}

.textHover{
    position: absolute;
    color:#Ed2590;
    z-index: 2;
}

.divImg{
    position: absolute;
    cursor: pointer;
    background: #000;
    opacity: 100%;
    position: relative;
    border-radius: 100%;
    z-index: 1;
    transition: 0.3s;
    border: 1px solid #Ed2590; 
}

.divImg img{
    position: relative;
    opacity: 50%;
    z-index: -0.9;
    transition: 0.3s;
}

.wrapperFormBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btnEdit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120%;
    height: 30px;
    background: #Ed2590;
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 1.5em;
    text-decoration: none;
}

.btnEdit:hover{
    background: #a41762;
}

@media (min-width: 481px) and (max-width: 768px){
    .wrapperFormFull{
        width: 90%;
        height: 780px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divImg{
        width: 8em;
    }
    .btnEdit{
        width: 120%;
        
    }
}

 

@media (min-width: 320px) and (max-width: 480px){
    .wrapperFormFull{
        width: 85%;
        height: 820px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divImg{
        width: 8em;
    }
    .btnEdit{
        width: 85%;
        
    }
}

 

@media (max-width: 319px){
    .wrapperFormFull{
        width: 480px;
        height: 820px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divImg{
        width: 8em;
    }
    .btnEdit{
        width: 80%;
    }
}

