.table_info {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 0.2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1em;
}

.info {
  margin-top: 2em;
}

.info p,
.info_options p {
  display: inline;
}

.info p:nth-child(1),
.info_options p:nth-child(1) {
  color: #b4aeae;
}

.info p:nth-child(2) {
  margin-left: 0.5rem;
  color: #4b4b4b;
}

.info_options {
  margin-top: 2rem;
}

.info_options:last-child {
  margin-bottom: 2rem;
}

.info_options p:nth-child(n + 2):nth-child(-n + 4):not(:last-child) {
  border-radius: 30px;
  border: 1px solid #ed2590;
  padding: 0.2rem 1rem;
  margin-left: 1rem;
}

.info_options p:last-child {
  color: #ed2590;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 1.5rem;
}

@media screen and (min-width:320px) and (max-width:480px) {
  .table_info {
    font-size: 0.8em;
  }
  .info_options p:nth-child(n + 3):nth-child(-n + 4):not(:last-child){
    display: none;
  }
  .info_options p:last-child {
    font-size: 1rem;
  }
}