.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto; /* centraliza na tela */
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 4em;
  
}

@media screen and (max-width:319px) {
  .wrapper {
    transform: translate(2%);
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1, 1fr;
    position: absolute;
    transform: translate(15%);
    width: 80%;
  }
  
  }
  @media (min-width: 1680px) and (max-width: 1920px) {
    .wrapper {
      width: 75%;
    }
  }

