*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapperForm{
    width: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formParagraph{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
}

.mainProfile{
    color: #868686;
    font-size: 12px;
}

.paragraphProfile{
    color: #4B4B4B;
    font-size: 12px;
    margin-left: 1em;
}

.editProfile{
    font-size: 12px;
    color: #ED2590;
}

.editProfile:hover{
    cursor: pointer;
    text-decoration: underline;
}

.borderProfile{
    font-size: 10px;
    border: 1px solid #ED2590;
    border-radius: 12px;
    padding: 0.28em;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

.addProfile{
    font-size: 10px;
    color: #0095ff;
}

.addProfile:hover{
    cursor: pointer;
    text-decoration: underline;
}