.baseboard{
    background: #fff;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baseboard h6{
    color: #ED2590;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


@media (min-width: 320px) and (max-width: 480px){
    .baseboard h6{
        font-size: 14px;
    }
}

@media (max-width: 319px){
    .baseboard h6{
        font-size: 12px;
    }
}