*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.formBox{
    border: 1px solid #ccc;
    width: 350px;
    height: 495px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: #fff;
}

.formBox h2{
    color: #Ed2590;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

.inputBox{
    position: relative;
    width: 280px;
    height: 40px;
    margin: 24px 0;
    background: #eff3f8;
}

.inputBox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding-left: 5%;
}

.rememberMe{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.rememberMe label{
    font-size: 13px;
    color: #868686;
}

.rememberMe span{
    padding: 1.2px;
    padding-left: 2px;
    border-radius: 3px;
    border: 1px solid #DCDCDC;
    background: #EFF3F8;
}

.rememberMe input[type="checkbox"] {
  background-color: #ED2590;
}

.btnLogin{
    width: 100%;
    height: 41px;
    border: none;
    outline: none;
    border-radius: 6px;
    background: #Ed2590;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    margin-bottom: 24px;
}

.btnCreate{
    width: 100%;
    height: 41px;
    border: none;
    outline: none;
    border-radius: 6px;
    background: #fff;
    margin-bottom: 22px;
}

.btnCreate a{
    color: #Ed2590;
    font-size: 17px;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    text-decoration: none;
}

.forgot a{
    color: #Ed2590;
    font-size: 14px;
    text-decoration: underline;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (min-width: 769px) and (max-width: 1024px){
    .formBox{
        width: 450px;
    } 
    .formBox h2{
        font-size: 32px; 
    }
    
    .inputBox{
        width: 380px;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .formBox{
        width: 450px;
    } 
    .formBox h2{
        font-size: 26px; 
    }
    
    .inputBox{
        width: 380px;
    }
}

@media (min-width: 320px) and (max-width: 480px){
    .formBox{
        
        width: 318px;
    } 

    .formBox h2{
        font-size: 20px; 
    }
    
    .inputBox{
        width: 270px;
    }
}

@media (max-width: 319px){
    .formBox{
        width: 280px;
    } 

    .formBox h2{
        font-size: 20px; 
    }
    
    .inputBox{
        width: 250px;
    }
}

