.profile {
    display: flex;
    flex-direction: column;
} 

.profile_info {
    width: 280px;
    height: 324px;
    background: #FDFEFF;
    border-radius: 1.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_info h2, p {
    color:#4B4B4B;
    margin-top: 20px;
}

.profile_info img {
    width: 170px;
    height: 170px;
    border: 4px solid #ED2590;
    border-radius: 100%;
    padding: 0.2em;
}

.profile_edition {
    background: #FDFEFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 280px;
    height: 56px;
    border-radius: 1.2rem;
    margin-top: 32px;

    
}

.redirection{
    text-decoration: none;
    color: #ED2590;
}