.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 1em;
}

.navbar input {
  background-color: #eff3f8;
  border: none;
  border-radius: 8px;
  width: 355px;
  padding: 1em 2.5em;
}

.navbar input::placeholder {
  color: #b4aeae;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.item {
  margin-right: 1em;
  color: #4b4b4b;
  font-weight: 400;
  line-height: 24px;
  margin-left: 1em;
  font-size: 18px;
}

.input_icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.search_icon {
  color: #b4aeae;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  margin-left: 0.5rem;
}

.input_icon img {
  width: 40px;
  height: 40px;
}

.input_icon label {
  margin-right: 1rem;
  margin-left: 1rem;
}

.profile_icon {
  color: #ed2590;
  width: 24px;
  height: 24px;
}


@media screen and (max-width:319px) {
  .list,
  .input_icon input,
  .input_icon img,
  .input_icon label,
  .search_icon, .profile_icon {
    display: none;
  }
}


@media screen and (min-width: 319px) and (max-width: 768px) {
  .list,
  .input_icon input,
  .input_icon label,
  .search_icon {
    display: none;
  }
  .input_icon img {
    width: 24px;
    height: 24px;
  }

  .profile_icon {
    width: 1em;
    margin-left: -10px;
  }
  
  .navbar img {
    width: 65px;
  }

}


@media (min-width:768px) and (max-width:1200px) {
  .list {
    display: none;
  }
  .input_icon img {
    width: 40px;
    height: 40px;
  }
  
  .profile_icon {
    width: 2em;
  }

  .input_icon label {
    margin-left: -1em;
  }
  
  .navbar img {
    width: 100px;
  }
}
