.big_wrapper {
    display:flex ;
    flex-direction:column;
  }
  
  .network {
    background: #FDFEFF;
    border-radius: 1.2rem;
    width: 320px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .network:nth-child(2) {
    margin-top: 2rem;
  }
  
  .network_info h1,
  .network_info p {
    display: inline;
  }
  
  .network h1 {
    color: #4b4b4b;
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
  }
  
  .network_info p {
    color: #ed2590;
    font-size: 1em;
    font-weight: 400;
    margin-left: 3em;
  }
  
  .network_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-top: 2em;
  }
  .network_images img {
    width: 60px;
    height: 60px;
    border-radius: 20%;
  }
  
  .network_images label {
    color: #4b4b4b;
    font-size: 1em;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width:319px) {
    .network{
      display: none;
    }
  }
  
  @media screen and (min-width:768px) and (max-width:1024px) {
    .network:nth-child(2) {
      margin-top: 0;
    }
  }
  
  @media (min-width:1024px) and (max-width:1200px) {
    .network {
      transform: translate(-1em,-34em);
    }
  } 