.info {
    width: auto;
    height: auto;
    background-color: #fff;
    border-radius: 1.2rem;
    box-sizing: border-box;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:baseline;
}

.info_section {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    gap: 2em;
}

.info_section p  {
  display: inline;
  margin-right: 1em;
  color:#4B4B4B;
  font-weight: 400;
  line-height: 1.2rem;
  margin-left: 0.2em;
  font-size: 1.2rem;
}

.welcome {
    display: flex;
    flex-direction: column;
    margin: 24px;
}

.welcome h1 {
    margin-bottom: 24px;
    font-weight: 500;
    color:#4B4B4B;
}

.welcome input {
    width: 544px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #EFF3F8;
    padding:1em;
}

.welcome input::placeholder {
    color: #4B4B4B;
    font-size: 1rem;
    font-weight: 400;

}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 8px;
}

.icons:nth-child(3) {
    margin-left: 2.2em;
}

.icons:nth-child(4) {
    margin-left: 5.2em;
}

.icons:nth-child(5) {
    margin-left: 2.2em;
}

.icons img {
    width: 24px;
    height: 24px;
}
